.App {
  text-align: center;
}

.App-header {
  padding: 16px;
  background: #0C73FE;
  color: #fff;
  font-size: calc(10px + 2vmin);
}

.App-header a {
  color: #fff;
}

.App-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.App-list li + li  {
  padding-left: 8px;
}

.Link-active {
  text-decoration: none;
}
